/venv
/prototypeapi/prototype/__pycache__/
/prototypeapi/prototypeapi/__pycache__/
/labTestAPI/labTest/__pycache__/
/labTestAPI/labTestAPI/__pycache__/
__pycache__/
/httpsDjangoServerTests/djExtAPI/djExt/__pycache__/
/httpsDjangoServerTests/djExtAPI/djExtAPI/__pycache__/