asgiref==3.4.1 (django)
backports.zoneinfo==0.2.1 (api-log)
bleach==4.1.0 (api-log)
certifi==2021.10.8 (toolkit)
cffi==1.15.0 (toolkit)
charset-normalizer==2.0.7 (toolkit)
cryptography==35.0.0 (toolkit)
Deprecated==1.2.13 (toolkit)
Django==3.2.9 (django)
django-auto-logout==0.5.0
django-axes==5.27.0
django-guardian==2.4.0 (guardian)
django-ipware==4.0.0 (axes)
django-oauth-toolkit==1.5.0 (toolkit)
django-sslserver==0.22
djangorestframework==3.12.4
djangorestframework-guardian==0.3.0 (guardian)
drf-api-logger==1.0.8
idna==3.3 (toolkit)
jwcrypto==1.0 (toolkit)
mod-wsgi==4.9.0
oauthlib==3.1.1 (toolkit)
packaging==21.3 (api-log)
pycparser==2.21 (toolkit)
pyparsing==3.0.6 (api-log)
pytz==2021.3 (django)
requests==2.26.0 (toolkit)
six==1.16.0 (toolkit)
sqlparse==0.4.2 (django)
tzdata==2021.5 (api-log)
urllib3==1.26.7 (toolkit)
webencodings==0.5.1 (api-log)
wrapt==1.13.3 (toolkit)
