/*--------Basic page elements--------*/
.background{
    background-color: rgb(0,59,79);
}

.div {
   background-color: GhostWhite;
   border-radius: 10px;
   margin: 5px;
   box-shadow:
     12px 12px 16px 0 rgba(255, 255, 255, 0.5) inset,
     -18px -18px 22px 0 rgba(0, 0, 0, .15) inset;
}

p, h1, h2, h3, h4, h5, h6 {
  color: rgb(0,59,79);
  font-family: helvetica;
}

button {
  font-size: 18px;
  font-family: helvetica;
  font-weight: bold;
  color: rgb(0,59,79);
  border-radius: 5px;
  border: none;
  width: 55px;
  height: 30px;
  background-color: GhostWhite;
  box-shadow:
    3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0);
}

button:hover{
  box-shadow:
    2px 2px 6px 0 rgba(255, 255, 255, 0.3) inset,
    -4px -4px 8px 0 rgba(0, 0, 0, .25) inset;
}

table{
  margin: "10px 10px 10px 10px";
  color: "rgb(0,59,79)";
  font-family: helvetica;
  font-weight: bold;
  border-radius:10px;
  border:6px solid GhostWhite;
  box-shadow:
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0);
}

th {
  background-color: "GhostWhite";
  font-weight: bolder;
  border-radius: 8px;
}

td {
  background-color: "GhostWhite";
  font-weight: bolder;
  width: 25px; height: 25px;
  text-align: center;
  margin: 5px 5px 5px 5px;
  border: 1px solid GhostWhite;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.3) inset, -1.5px -1.5px 3px 0 rgba(0, 0, 0, .25) inset;
}
/*--------Basic page elements--------*/

/*Colored and image-based table cells for report and legend*/
td.plump {
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.4) inset, -4px -4px 8px 0 rgba(0, 0, 0, .4) inset;
}

td.pass {
  background-color: rgb(60,192,60);
}

td.pass.active:hover {
  background-color: rgb(0,255,0);
}

td.fail {
  background-color: rgb(192,60,60);
}

td.fail.active:hover {
  background-color: rgb(255,0,0);
}

td.data {
  background-image: url("info.png");
  background-size: cover;
  background-repeat: no-repeat;
}

td.data.active:hover {
  background-image: url("info2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

td.promise {
  background-image: url("promise.png");
  background-size: cover;
  background-repeat: no-repeat;
}

td.promise.active:hover {
  background-image: url("promise2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*td.screenshot {
  background-image: url("camera.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}*/

td.screenshot.active:hover {
  background-image: url("camera2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

td.report {
  background-image: url("link.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid blue;
}

td.buffer {
  background-color: Gray;
}

td.running {
  background-color: rgb(198, 204, 208);
}

/*Tooltips*/
.tooltip {position: relative;}

.tooltip .tooltiptext {
  /*Over the table in question*/
  position: absolute;
  z-index: 1;

  /*Black on white*/
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-size: 15px;

  /*Size and shape of tooltip*/
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.4) inset, 
    -4px -4px 8px 0 rgba(0, 0, 0, .4) inset;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  padding: 5px 0;

  /*Fade in/out*/
  visibility: hidden;
  top: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;

  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
 font-weight: normal;
  visibility: visible;
  opacity: 1;
}

/*    overlay styles     */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */
  background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
  background-color: #FF0000;
  border: 1px #FF5555 solid;
  box-shadow:
    2px 2px 6px 0 rgba(255, 255, 255, 0.3) inset,
    -4px -4px 8px 0 rgba(0, 0, 0, .25) inset;
}

.overlay a {
  text-decoration: none;/* No underline in the a */
  font-weight: bolder;
  font-size: 12px;
  color: #CCCCCC;
  background-color: #FF5555;
  border: 1px #FF2222 solid;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow:
    3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 8px 0 rgba(255, 255, 255, 0);
}

.overlay img { border: solid black 1px;}
.popup {width:100%;}
.thumb {width:50px; height:50px;}
.small {width:1%;}
.medium {width:25%;}
.large {width:50%;}
.popup td.evenRow {background-color: rgba(100,100,255,0.07);}
.popup td.oddRow {background-color: rgba(255,255,255,0.07);}
.FAIL {background-color:#880000; color:#FFFFFF; text-align: center;}
.PASS {background-color:#008800; color:#FFFFFF; text-align: center;}
.popup td.SOFT {background-color:#8AFF9E;}
.popup td.BANNER {background-color:#45FF4F;}
.popup td.BAR {background-color:#000000;}
.popup td.Data {background-image: url("info.png"); background-position: center; background-repeat: no-repeat; background-size: 1.6em 2em; color: #00000000; background-color:#ffffff;}
.popup td.Promise {background-image: url("promise.png"); background-position: center; background-repeat: no-repeat; background-size: 1.6em 2em; color: #00000000; background-color:#ffffff;}
.popup td.Action {background-color:#FFFF00;}
.popup td.Screenshot {background-image: url("camera.png"); background-position: center; background-repeat: no-repeat; background-size: 2em 2em; color: #00000000; background-color:#ffffff;}
.popup th {background-color:#00454F; color:white; font-weight:bolder;}
#reportContent {background-color:#FFFFFF;}

.dataSelect {   background-color: GhostWhite;
   width:300;
   border-radius: 10px;
   margin: 5px;
   box-shadow:
   12px 12px 16px 0 rgba(255, 255, 255, 0.5) inset,
   -18px -18px 22px 0 rgba(0, 0, 0, .15) inset;
   width:300;
}
label {font-size: 16pt; color: rgb(0,59,79); font-weight:bold;}
