body {
  width:650px;
  background-color: #E6E6E6;
}
a:link {color:#0000ff;}
a:visited  {color:#0000ff;}
a:hover {color:#000099;} 
code {color:blue; font-weight:bold;}
.normal {color:#444444; font-weight:normal; font-style:italic; text-align:right;}
img {border: solid black 2px; max-width:600px; display: block; margin-left: auto; margin-right: auto;}
h2{border: solid blue; border-width:2px 0px 2px 0px; background-color:white; text-align:center; font-variant: small-caps; text-transform: capitalize;}
h3{border: solid blue; border-width:2px 0px 2px 0px; background-color:white; text-align:center; font-variant: small-caps; text-transform: capitalize;}
