body {
  width:650px;
  background-color: #E6E6E6;
  text-align: justify;
  text-justify: inter-word;
  background-image: url('./imgs/expDahl.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: 20%;
  
}
a:link {color:#0000ff;}
a:visited  {color:#0000ff;}
a:hover {color:#000099;}
.highlight {font-size:200%; background-color:#FFFF00; font-weight:bold;}
.red {color:#FF0000; font-weight:bold;}
.green {color:#00AA00; font-weight:bold;}
.blue {color:blue; font-weight:bold;}
.white {color:#ffffff; font-weight:bold;}
code {color:blue; font-weight:bold; width:1200px;}
code i {color:teal;}
.normal {color:#444444; font-weight:normal; font-style:italic; text-align:right;}
img {border: solid black 2px; max-width:600px; display: block; margin-left: auto; margin-right: auto;}
h2{font-weight:bold; font-size:200%; border: solid blue; border-width:2px 0px 2px 0px; background-color:white; text-align:center; font-variant: small-caps; text-transform: capitalize;}
h3{font-weight:bold; font-size:150%; border: solid blue; border-width:2px 0px 2px 0px; background-color:white; text-align:center; font-variant: small-caps; text-transform: capitalize;}
h4{font-style: italic; font-size:100%; border: solid blue; border-width:2px 0px 2px 0px; background-color:white; text-align:center; font-variant: small-caps; text-transform: capitalize;}
em {font-style:italics; font-weight:bold; text-decoration: underline;}
in {margin: 16px;}
.ex{margin: 10px; border: ridge black 3px; background-color:#000000; color:#ffff00;
   font-family: arial; font-style: italic; width:900px;}
.ex li {list-style-position: inside;width:500px; padding-left: 40px; text-indent: -40px;}
img.float {float:right; width:200px;}
hr {
  width:670px;
  display: flex;
  align-items: center;
  margin: 1em -1em;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
    height: 6px;
    -webkit-filter: blur(5px);
    border-radius: 5px;
  }

    &:before {
      background: linear-gradient(to right, blue, black);
    }
    
    &:after {
      background: linear-gradient(to left, blue, black);
    }
  }
div.alternate {background-color: #C0E6FF;}