body {
  width:500px;
  background-color: #E6E6E6;
}
a:link {color:#0000ff;}
a:visited  {color:#0000ff;}
a:hover {color:#000099;} 
code {color:blue; font-weight:bold;}
.normal {color:#444444; font-weight:normal; font-style:italic; text-align:right;}
img {border: solid black 2px; max-width:575px; display: block; margin-left: auto; margin-right: auto;}
h2{border-bottom-style: solid #444444 px;}
h3{border-bottom-style: solid #444444 px;}
