body.popup {
       background-color: red;
     }

body.popup table {border-radius:10px;
       border: 6px solid GhostWhite;
       color: rgb(0,59,79);
       font-family: helvetica;
       box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0);
      }

body.popup th {border-radius: 5px;}

body.popup td    {border-radius: 5px;
       font-weight: bolder;
       box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.3) inset, -1.5px -1.5px 3px 0 rgba(0, 0, 0, .25) inset;
      }

body.popup td.evenRow {
    background-color: rgba(0255,0,0.07);
  }

body.popup td.oddRow {
    background-color: rgba(255,0,0,0.07);
  }

body.popup h1,
body.popup h2,
body.popup h3,
body.popup h4,
body.popup h5,
body.popup h6 {color: rgb(0,59,79);
    font-family: helvetica;
   }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.FAIL {
  background-color:#880000;
}

.PASS {
  background-color:#008800;
}