name: Audit live site
on: 
  push:
    paths:
      - ".github/workflows/audit.yml"
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
    - name: Audit live URL
      uses: jakejarvis/lighthouse-action@master
      with:
        url: 'https://bsdillon.github.io/DahlgrenTest/html/'
    - name: Upload results as an artifact
      uses: actions/upload-artifact@master
      with:
        name: report
        path: './report'
