---
name: Audit YML
# yamllint disable-line rule:truthy
on:
#fix truthy warning per https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
  push:
    paths:
      - ".github/**"

jobs:
  lintAllYml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v1
