---
name: Audit YML
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - ".github/**"

jobs:  
  lintAllYml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v1
      - name: Create issue using REST API
        if: ${{ failure() }}
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Auto-issue [${{ github.sha }}] - Failed ${{ github.workflow }}",
            "body": "ENTER GENERIC INSTRUCTIONS FOR RESOLUTION.",
            "labels": ["bug","auto"],
            "assignees": ["bsdillon","landin3thorsted"]
            }'
