---
name: Code Inspector Report
# yamllint disable rule:line-length
# https://doc.code-inspector.com/api.html
# https://doc.code-inspector.com/docs/api/#jwt
# https://github.com/codeinspectorio/api-access-examples
# yamllint enable rule:line-length

# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - 'justchecking'

jobs:
  queryCI:
    runs-on: ubuntu-latest
    steps:
      - name: Query Code Inspector
        # yamllint disable rule:line-length
        run: |
          curl -i -H 'Content-Type: application/json' \
          -H "X-Access-Key: ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }}" \
          -H "X-Secret-Key: ${{ secrets.CODE_INSPECTOR_SECRET_KEY }}" \
          -X POST -d '{"query": "query {project(name: "DahlgrenTest"){name lastAnalysis{status startTimestamp}}"}' \
          --url https://api.code-inspector.com/graphql
        # yamllint enable rule:line-length
