---
name: Code Inspector Report
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - 'justchecking'

jobs:
  queryCI:
    runs-on: ubuntu-latest
    steps:
      - name: Query Code Inspector
        run: |
          curl -i -H 'Content-Type: application/json' \
          -H "X-Access-Key: ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }}" \
          -H "X-Secret-Key: ${{ secrets.CODE_INSPECTOR_SECRET_KEY }}" \
          # yamllint disable-line rule:line-length
          -X POST -d '{"query": "query {project(name: "DahlgrenTest"){name lastAnalysis{status startTimestamp violations(howmany: 10, skip: 0){line language  filename description}}}"}' \
          --url https://api.code-inspector.com/graphql
