---
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push
  # schedule:
  # Midnight each day for overnight eval
  # - cron: '0 4 * * *'

jobs:
  check-quality:
    runs-on: ubuntu-latest
    name: A job to check my code quality
    steps:
      - name: Query Code Inspector API
        # yamllint disable rule:line-length
        run: python .github/ciPython/sloc_parser.py ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }} ${{ secrets.CODE_INSPECTOR_SECRET_KEY }} ./html/cidata/code_inspect.js
        # yamllint enable rule:line-length
      - name: Commit history file
        run: |
          git config --local user.email ""
          git config --local user.name "CodeInspect History"
          git add ./html/cidata/code_inspect.js
          git commit -m "Auto-push CodeInspect history" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'master'
