---
name: Code Inspect
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  schedule:
    # Midnight each day for overnight eval
    - cron: '0 4 * * *'

jobs:
  check-quality:
    runs-on: ubuntu-latest
    name: A job to check my code quality
    steps:
      - name: Check code meets quality standards
        id: code-inspector
        uses: codeinspectorio/github-action@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          code_inspector_access_key: ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }}
          code_inspector_secret_key: ${{ secrets.CODE_INSPECTOR_SECRET_KEY }}
          min_quality_grade: 'WARNING'
          min_quality_score: '100'
          max_defects_rate: '0.0000'
          max_complex_functions_rate: '0.0001'
          max_long_functions_rate: '0.0001'
          project_name: ''
          max_timeout_sec: '600'
      - name: Query Code Inspector API
        if: ${{ always() }}
        # yamllint disable rule:line-length
        run: python .github/ciPython/sloc_parser.py ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }} ${{ secrets.CODE_INSPECTOR_SECRET_KEY }} ./html/cidata/code_inspect.js
        # yamllint enable rule:line-length
      - name: Commit history file
        if: ${{ always() }}
        run: |
          git config --local user.email ""
          git config --local user.name "CodeInspect History"
          git add ./html/cidata/code_inspect.js
          git commit -m "Auto-push CodeInspect history" -a
      - name: Push changes
        if: ${{ always() }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'master'
