name: HTML Validation Checks
on:
  push:
    paths:
      - "html/**"
jobs:
  HTMLChecks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Validate HTML Files
      uses: Cyb3r-Jak3/html5validator-action@v0.3
      with:
        root: ./html
        css: true
