name: HTML Validation Checks
on: 
  push:
    branches:
      - 'update-documentation'
jobs:
  HTMLChecks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Validate HTML Files
      uses: Cyb3r-Jak3/html5validator-action@v0.3
      with:
        root: ./html
        css: true
    - name: Get HTML log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v1
      with:
        name: log
        path: log.log
