name: Continuous Integration Tests
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      name: Validate HTML Files
        - uses: Cyb3r-Jak3/html5validator-action@v0.4
          with:
            root: ./html/
            css: true
        - uses: actions/upload-artifact@v1
          with:
            name: log
            path: log.log
      name: Verify scripting capability
        - uses: actions/checkout@v1
        - uses: ./mathTest
          with:
            OPERAND1: 3
            OPERAND2: 5
        - uses: ./mathTest
          with:
            OPERAND1: -3
            OPERAND2: 2
        - uses: ./mathTest
          with:
            OPERAND1: -3