name: Continuous Integration Tests
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Validate HTML Files
      uses: Cyb3r-Jak3/html5validator-action@v0.3
      with:
        root: ./html
        css: true
    - name: Get HTML log
      uses: actions/upload-artifact@v1
      with:
        name: log
        path: log.log
    - name: Verify scripting capability #1
      uses: ./mathTest
      with:
        OPERAND1: 3
        OPERAND2: 5
    - name: Verify scripting capability #2
      uses: ./mathTest
      with:
        OPERAND1: -3
        OPERAND2: 2
    - name: Verify scripting capability only one operand
      uses: ./mathTest
      with:
        OPERAND1: -3