name: HTML Validation Checks
on: push
jobs:
  HTMLChecks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Validate HTML Files
      uses: Cyb3r-Jak3/html5validator-action@v0.3
      with:
        root: ./html
        css: true
    - name: Get HTML log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v1
      with:
        name: log
        path: log.log
  MathChecks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Successful math test
      uses: ./.github/actions/mathTest
      with:
        OPERAND1: 3
        OPERAND2: 5
        ANSWER: 2
    - name: Mismatch answer math test
      if: ${{success() || failure() }}
      uses: ./.github/actions/mathTest
      with:
        OPERAND1: -3
        OPERAND2: 2
        ANSWER: 1
    - name: Missing operand math test
      if: ${{success() || failure() }}
      uses: ./.github/actions/mathTest
      with:
        OPERAND1: -3
        ANSWER: 5