---
# This workflow will install Python dependencies,
# run tests and lint with a single version of Python
# For more information see:
# help.github.com/actions/language-and-
#  framework-guides/using-python-with-github-actions

name: Python application test

# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    branches: [justchecking]
  pull_request:
    branches: [master]

jobs:
  PythonTesting:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with pytest
        run: |
          pytest
