---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '0 20 * * *'
jobs:
  styles:
    runs-on: ubuntu-18.04
    name: Linting
    steps:
      - name: Python Linting
        uses: WhyNotHugo/python-linting@v1.0.0
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
      - uses: whynothugo/python-linting@master
      - name: Create issue using REST API
        if: ${{ failure() }}
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Failed Python Linting",
            "body": "Python linting detected some errors.",
            "labels": ["bug","auto"],
            "assignees": ["bsdillon"]
            }'