---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy

#on:
#  schedule:
#     01:05
#     on Feb 1st if it's a Sunday
#    - cron: '5 5 1 2 0'

on:
  push:
    paths:
      - "**.py"
      - ".github/workflows/PythonLint.yml"

jobs:
#  Linting_with_WhyNot:
#    runs-on: ubuntu-18.04
#    steps:
#      - name: Setup code
#        uses: actions/checkout@v2
#      - name: Setup python
#        uses: actions/setup-python@v1
#      - name: check Whynot
#        uses: WhyNotHugo/python-linting@v1.0.0

  Lint_with_Sunnysid3up:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@v2
      - name: check Sunnysid3up
        uses: sunnysid3up/python-linter@master
        with:
          source: "src"
          mypy-options: "--ignore-missing-imports --show-error-codes"
          pylint-options: "--rcfile=setup.cfg"
          isort-options: "-w 100"
          django: true
     
  Lint_with_SmellyPython:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@v2
      - name: check smelly
        uses: smelly-python/smell-my-pr@main
        with: 
          github-token: ${{secrets.GITHUB_TOKEN}}
          command: pipenv run smelly-python -d src
