---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.py"
      - ".github/workflows/PythonLint.yml"
jobs:
  Linting_with_WhyNot:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
      - name: check Whynot
        uses: WhyNotHugo/python-linting@v1.0.0
