---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.py"
      - ".github/workflows/PythonLint.yml"
jobs:
  Linting_with_flake8:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
      - name: check flake8
        run: |
          flake8 . \
            --count \
            --select=E9,F63,F7,F82 \
            --show-source \
            --statistics > py_lint.txt
      - name: Upload lint report to artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@v1
        with:
          name: py-lint
          path: py_lint.txt
  Linting_with_WhyNot:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
      - name: check Whynot
        uses: WhyNotHugo/python-linting@v1.0.0
