---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      'KKBranch'
jobs:
  styles:
    runs-on: ubuntu-18.04
    name: Linting
    steps:
      - name: Python Linting
        uses: WhyNotHugo/python-linting@v1.0.0
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
      - uses: whynothugo/python-linting@master
