---
name: Python Linting
# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - 'justchecking'
jobs:
  Linting:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup code
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
      - name: Whynot #1
        uses: WhyNotHugo/python-linting@v1.0.0
      - name: Whynot #2
        if: ${{ always() }}
        uses: whynothugo/python-linting@master
      - name: Lint w/flake8 #1
        if: ${{ always() }}
        run: |
          # stop the build if there are Python
          # syntax errors or undefined  names
          flake8
            .
            --count
            --select=E9,F63,F7,F82
            --show-source
            --statistics
      - name: Lint w/flake8 #2
        if: ${{ always() }}
        run: |
          # exit-zero treats all errors as warnings.
          # The GitHub editor is 127 chars wide
          flake8
            .
            --count
            --exit-zero
            --max-complexity=10
            --max-line-length=127
            --statistics
      - name: Create issue using REST API
        if: ${{ failure() }}
        # Only executes if one of the tests failed
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Failed Python Linting",
            "body": "Python linting detected some errors.",
            "labels": ["bug","auto"],
            "assignees": ["bsdillon"]
            }'
