---
name: YML Change Report
# Rules for yaml Lint
# https://yamllint.readthedocs.io/en/stable/rules.html

# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  schedule:
    # Every night at midnight
    - cron: '26 4 * * *'

jobs:
  FindChangedFiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: List all files
        # yamllint disable rule:line-length
        run: |
          curl --request GET \
          --url https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }} \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' > yml_change.json
        # yamllint enable rule:line-length
      - name: Parse change status
        # yamllint disable rule:line-length
        run: python .github/ciPython/yml_commit_updater.py yml_change.json ./html/cidata/yml_history.js
        # yamllint enable rule:line-length
      - name: Commit history file
        run: |
          git config --local user.email "None"
          git config --local user.name "GitHub Action"
          git add ./html/cidata/yml_history.js
          git commit -m "Auto-push yml change history" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'master'
