---
name: YML Change Report
# Rules for yaml Lint
# https://yamllint.readthedocs.io/en/stable/rules.html

# fix truthy warning per
# https://github.com/adrienverge/yamllint/issues/158#issuecomment-586706596
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - ".github/workflows/**.yml"

jobs:
  FindChangedFiles:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: List all files
        run: |
          curl --request GET \
          --url https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }} \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' > yml_change.json
      - name: Keep file listing artifact
        uses: actions/upload-artifact@v1
        with:
          name: file_list
          path: yml_change.json
      - name: Parse change status
      # yamllint disable rule:line-length
        run: python .github/ciPython/ymlCommitUpdater.py yml_change.json ./html/yml_history.js > ./html/yml_history.js
      - name: Keep file listing artifact
        if ${{ always() }}
        uses: actions/upload-artifact@v1
        with:
          name: history
          path: ./html/yml_history.js
      - name: Commit history file
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ./html/yml_history.js
          git commit -m "Automatic  update of yml change history" -a
      # yamllint enable rule:line-length
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'justchecking'
